// vars and bootstrap overrides ===============================
$dark: #14171a;
$dark-2: #5b6770;
$primary: #DD60FF;
$secondary: #5b6770;

@import "bootstrap/scss/bootstrap";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

.btn-primary {
    font-weight: bold;
    font-size: 1.2rem;
}

// imports ===============================
// font: Nunito Sans
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200;0,6..12,300;0,6..12,400;0,6..12,500;0,6..12,600;0,6..12,700;0,6..12,800;0,6..12,900;0,6..12,1000;1,6..12,200;1,6..12,300;1,6..12,400;1,6..12,500;1,6..12,600;1,6..12,700;1,6..12,800;1,6..12,900;1,6..12,1000&display=swap');

// google icons
.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48
}

// base ===========================
body {
    background: $dark !important;
    color: $light;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 16px;
}

a {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s ease-in-out;

    &:hover {
        color: $primary;
        transition: all 0.3s ease-in-out;
    }
}




// main CSS
body {
    display: flex;
}

#bio-panel {
    border: 1px solid $secondary;
    flex-basis: 22rem;
    border-radius: 1rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    // gap: 2rem;
    margin: 1rem;
    text-align: center;
}

.flex-row {
    display: flex;
    align-items: center;
}

.profile-pic {
    background-image: url(profile-pic.jpg);
    background-size: cover;
    background-position: top;
    height: 18rem;
    border-radius: 1rem;
}