// font
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

body {
    font-family: 'noto sans KR', sans-serif;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48
}

// colors
$main-text: #373737;

// reset
a {
    text-decoration: none;
    color: inherit;
    list-style: none;
}

// main css
body {
    color: $main-text;
    font-weight: 300;
    letter-spacing: 0.1rem;
    line-height: 1.5rem;
}

//  header
header {
    height: 5rem;
    display: flex;
    align-content: center;
    align-items: center;
}

.logo-image {
    display: flex;
    align-items: center;
    padding-inline: 4rem;

    img {
        height: 1.5rem;
    }
}

nav ul {
    display: flex;

    gap: 4rem;
}

.mobile-menu-button {
    display: none;
}


// main
.site-padding {
    padding-inline: 4rem;
}

.section-margin-block {
    margin-top: 4rem;
    max-width: 70rem;
}

body main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero {
    height: 70vh;
    width: 100%;
    position: relative;
    // display: flex;
}

.hero-img {
    height: 100%;
    width: 100%;
    background: url(images/hero\ 1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}

.benefits {
    display: flex;
    justify-items: center;
    gap: 4rem;
    justify-content: center;

    div {
        text-align: center;
        flex: 1;
    }
}

// featured ==============================
.featured {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
    // margin: 4rem;
}

.featured-tile {
    text-align: center;
    position: relative;

    .img {
        background: url(images/featured\ 1.png);
        background-position: center top;
        background-size: cover;
        padding-top: 50%;
        overflow: hidden;

        &::before {
            content: "";
            position: absolute;
            width: 100%;
            height: 85%;
            top: 0;
            left: 0;
            background: white;
            opacity: 0;
            transition: opacity 0.3s ease;
        }

        &:hover {
            &::before {
                opacity: 0.5;
                transition: opacity 0.3s ease;
            }

            .button {
                opacity: 1;
                transition: opacity 0.3s ease;
            }
        }

        .button {
            color: white;
            background: hsl(0, 0, 20);
            z-index: 1;
            position: absolute;
            top: 30%;
            left: 50%;
            transform: translate(-50%);
            padding: 1rem 2rem;
            opacity: 0;
            transition: opacity 0.3s ease;

        }
    }

    &:nth-of-type(2) .img {
        background: url(images/featured\ 2.png);
        background-position: center top;
        background-size: cover;
    }

    &:nth-of-type(3) .img {
        background: url(images/featured\ 3.jpg);
        background-position: center top;
        background-size: cover;
    }

    &:nth-of-type(4) .img {
        background: url(images/featured\ 4.jpg);
        background-position: center top;
        background-size: cover;
    }
}

// categories =================================
.categories {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 4rem;

}

.category {
    background: #000;
    height: 30vw;
    overflow: hidden;
    position: relative;

    &:nth-child(1) {
        flex-basis: 80%;
        flex-grow: 1;

        .img {
            width: 100%;
            height: 100%;
            background: url(images/cat\ 1.jpg);
            background-size: cover;
            background-position: center;
        }
    }

    &:nth-child(2) {
        flex-basis: 30%;

        .img {
            width: 100%;
            height: 100%;
            background: url(images/cat\ 2.jpg);
            background-size: cover;
            background-position: center;
        }
    }

    &:nth-child(3) {
        flex-grow: 1;

        .img {
            width: 100%;
            height: 100%;
            background: url(images/cat\ 3.jpg);
            background-size: cover;
            background-position: center;
        }
    }

    &:nth-child(4) {
        flex-basis: 80%;
        flex-grow: 1;

        .img {
            width: 100%;
            height: 100%;
            background: url(images/cat\ 4.jpg);
            background-size: cover;
            background-position: center;
        }
    }


    .img {
        transition: transform 0.3s ease;
    }

    &:hover .img {
        transform: scale(1.2);
        transition: transform 0.3s ease;
    }

    .button {
        color: white;
        background: hsl(0, 0, 20);
        z-index: 1;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 1rem 2rem;

        &:hover {
            background: hsla(0, 0, 100, 0.5);
            color: #373737;
            border: 1px solid #373737;
        }
    }
}

footer {
    display: flex;
    background: hsl(41, 63%, 75%);
    line-height: 2rem;
}




// media queries ==================================
@media (width <=850px) {
    header {
        justify-content: space-between;
        align-items: center;
    }

    nav {
        display: none;
    }

    .mobile-menu-button {
        display: inline-block;
        height: 100%;
        display: flex;
        align-items: center;
        margin: 2rem;
        gap: 1rem;

        span:first-child {
            font-weight: 400;
            font-size: 1.2rem;
            letter-spacing: 0.3rem;
        }

        .material-symbols-outlined {
            font-size: 50px;
            font-variation-settings:
                'FILL' 0,
                'wght' 200,
                'GRAD' 0,
                'opsz' 48
        }

    }
}


@media (width <=800px) {
    .site-padding {
        padding-inline: 1rem;
    }

    .section-margin-block {
        margin-top: 4rem;
        max-width: 70rem;
    }


    .benefits {
        flex-direction: column;
    }

    .featured {
        grid-template-columns: 1fr;
    }

    .categories {
        flex-direction: column;
    }

    .categories .category {
        flex: 1;
        flex-basis: auto;
    }


}